<!DOCTYPE html>
<html>
<head>
    <title>Vrácení Primigistore.cz</title>
    <link rel="stylesheet" href="/public/default.css">
</head>
<body>
    <h2>Vrácení zboží</h2>
    <p><a href="/return">Zpátky</a></p>
</body>
</html>